
@{
    ViewData["Title"] = "Activation";
}

<head>
    <script type="text/javascript">

        function wait() {
            window.location = "http://localhost:37327/"
        }

    </script>
</head>
<body onLoad="setTimeout('wait()', 6000)">
    <div class="wrapper fadeInDown">
        <div id="formContent">

            <form>

                <p style="font-size:15px;">
                    The verification e-mail has been directed to your e-mail address.Please activate your mail.
                    You are redirected to the homepage...
                </p>
            </form>


        </div>

    </div>

</body>