
@{
    ViewData["Title"] = "DeleteInfo";
}

<head>
    <script type="text/javascript">

        function wait() {
            window.location = "http://localhost:37327/"
        }

    </script>
</head>
<body onLoad="setTimeout('wait()', 5000)">
    <div class="wrapper fadeInDown">
        <div id="formContent">

            <form>

                <p style="font-size:15px;">
                    Your account has been deleted. You are redirected to the homepage in 5 seconds...
                </p>
            </form>


        </div>

    </div>

</body>

