
<div class="wrapper fadeInDown">
    <div id="formContent">

        <form asp-action="LoginControl" asp-controller="users">
            <input type="text" id="login" class="fadeIn second" name="login" placeholder="e-mail">
            <input type="submit" class="fadeIn fourth" value="Log In">
           
        </form>


    </div>
</div>