
@{
    ViewData["Title"] = "Success";
}

<head>
    <script type="text/javascript">

        function wait() {
            window.location = "http://localhost:37327/Users/Login"
        }

    </script>
</head>
<body onLoad="setTimeout('wait()', 3000)">
    <div class="wrapper fadeInDown">
        <div id="formContent">

            <form>

                <p style="font-size:20px;">Activation Successed.You are redirected in 3 seconds</p>
            </form>


        </div>
    </div>

</body>